@import "tailwindcss";


:root {
  --background-body: #fffffffb !important;
  --box: #305256 !important;
  --text-color: #18191A !important;
  --section: #e6e8e87d !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #ffffff !important;
    --box: #305256 !important;
    --text-color: #18191A !important;
    --section: #e6e8e87d !important;
  }
}

body {
  color: var(--text-color);
  background: var(--background-body) !important;
  font-family: 'Geist Sans', sans-serif;
  overflow-x: none !important;
}

.section{
  background-color: var(--section) !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}